<!doctype html>
<html lang="ko">
  {% include "nav/nav.html" %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/calendar/main.css') }}"
    />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/calendar/main.js') }}"></script>
  </head>
  <body>
    <div class="calendar container-fluid grid">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between">
          <button id="btnPrev">◁</button>
          <div id="monthText"></div>
          <button id="btnNext">▷</button>
        </div>
        <div>
          <button id="all">All</button>
          <button id="Todo" data-bs-toggle="modal" data-bs-target="#modal">
            TO DO
          </button>
          <button>In Progress</button>
          <button>Done</button>
        </div>
      </div>

      <div id="calendar-weekday">
        {% for w in weeks %}
        <div class="grid text-center">{{ w }}</div>
        {% endfor %}
      </div>
      <div id="calendar-days" class="grid text-center"></div>
    </div>

    <div
      class="modal fade"
      id="modal"
      tabindex="-1"
      aria-labelledby="modalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Create Issue</h1>
          </div>
          <div class="modal-body">
            <!-- Title -->
            <div class="mb-3">
              <label class="form-label fw-bold">Title</label>
              <input
                type="text"
                class="form-control"
                maxlength="15"
                placeholder="Enter title (최대 15자리까지)"
              />
              <div class="form-text">최대 15자리</div>
            </div>

            <!-- Description -->
            <div class="mb-3">
              <label class="form-label fw-bold">Description</label>
              <textarea
                class="form-control"
                rows="4"
                maxlength="200"
                placeholder="Enter description (최대 200자리까지)"
              ></textarea>
              <div class="form-text">최대 200자리</div>
            </div>

            <!-- Due Date -->
            <div class="mb-3">
              <label class="form-label fw-bold">Due Date</label>
              <input type="date" class="form-control" id="dueDate" />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" onclick="save()" class="btn btn-primary">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(() => {
        const t = new Date();
        const y = t.getFullYear();
        const m = t.getMonth() + 1;
        const d = t.getDate();
        calendar(y, m, d);
        btnPrev();
        btnNext();
        btnAll();
        dateMin();
      });

      // const tempData = {
      //   project_id: "65e5c8d9b1a9e0c8c2c7f123",
      //   title: "로그인 UI 구현",
      //   description: "설명",
      //   status: "TODO",
      //   created_at: "string",
      //   due_date: "2026-03-07",
      //   created_by: "TEST닉네임",
      // };
      // const save = () => {
      //   $.ajax({
      //     url: "/api/todo", // Flask endpoint
      //     type: "POST",
      //     contentType: "application/json",
      //     data: JSON.stringify(tempData),

      //     success: function (res) {
      //       console.log("저장 성공", res);
      //     },

      //     error: function (err) {
      //       console.error("저장 실패", err);
      //     },
      //   });
      // };
    </script>
  </body>
</html>
