<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body class="bg-light">
    <div
      class="container vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="card shadow-sm" style="width: 380px">
        <div class="card-body p-4">
          <h3 class="text-center mb-4">MiniJira Signup</h3>

          <!-- error -->
          {% if error %}
          <div class="alert alert-danger text-center">{{ error }}</div>
          {% endif %}

          <form method="POST">
            <div class="mb-3">
              <label class="form-label">이메일</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="이메일 입력"
                required
              />
            </div>

            <div class="mb-3">
              <label class="form-label">닉네임</label>
              <input
                type="text"
                name="username"
                maxlength="8"
                class="form-control"
                placeholder="닉네임 입력(8자리 수 제한)"
                required
              />
            </div>

            <div class="mb-3">
              <label class="form-label">패스워드</label>
              <input
                type="password"
                name="password"
                maxlength="20"
                class="form-control"
                placeholder="패스워드 입력"
                required
              />
            </div>

            <div class="mb-3">
              <input
                type="password"
                name="password2"
                maxlength="20"
                class="form-control"
                placeholder="패스워드 재 입력"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary w-100">
              회원가입
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
